/*---------------
ZOOM DEFAULT
---------------*/

.zoom {  
    display:block; 
    position:relative; 
    overflow:hidden;
    background:#fff url(../img/loader.gif) no-repeat center;
}

    .zoom .fd-gal-img { display:none }

        .zoomOverlay {
            position:absolute;
            top:0; left:0;
            bottom:0; right:0;
            display:none;
            background-image:url(../img/zoom.png);
            background-repeat:no-repeat;
            background-position:center;
        }

































